/* shared styles */

* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

.btn-primary {
    padding: 1rem 2rem;
    background-color: #FF42A5;
    margin: 0.6rem;
    border-radius: 2rem;
    border: 0;
    color: #FFF;
    font-weight: 600;
}

.pink {
    color: #FF42A5;
}

/* navigation section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-title {
    display: flex;
    align-items: center;
}

.head-title {
    font-size: 2.8rem;
    color: #0B0223;
    font-weight: 700;
    margin: 1.3rem;
}

.nav-items>ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav-items li {
    margin-right: 2rem;
    font-weight: 500;

}

#follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem;

}

/* banner section */
.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 170px;
}

.column-1-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.goat {
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-list {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 24px;
    margin-left: 10px;
}

/* bonus section gamer section */
.gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 170px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-content {
    text-align: right;
}

.gamer-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-des {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.gamer-paragraph {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

#our-purpose {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

/* online-games-section */
.online-games {
    padding: 80px 170px;
    text-align: center;
}

.online-games-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.online-title-blue {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.online-game-para {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.cards {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card-title {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

/* magazine1 section */
.magazine-1 {
    padding: 0px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.magazine1-writings {
    max-width: 350px;
    padding-bottom: 300px;
    margin-left: 100px;
}

.magazine-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-black {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.magazine1-writings p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.small-img1 {
    position: relative;
    bottom: 300px;
    right: 450px;

}

/* magazine2 section */
.magazine-2 {
    padding: 0px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.magazine2-writings {
    max-width: 350px;
    padding-bottom: 300px;
    text-align: right;
}

.magazine2-writings p {
    text-align: right;
    line-height: 30px;
    margin-top: 20px;
}

.magazine2-writings>.magazine-title,
.title-black {
    text-align: right;
}

.small-img2 img {
    position: relative;
    bottom: 250px;
    left: 550px;
}

/* career */
.career {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 170px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.career-col-1 h3 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.career-col-1 p {
    margin: 24px 0px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.career-col-1 button {
    padding: 1rem 2rem;
    background-color: #FFF;
    margin: 0.6rem;
    border-radius: 2rem;
    border: 0;
    color: #FF42A5;
    font-weight: 600;
}

.career-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career-choices {
    color: #FFF;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.career-places {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}


/* games section */
.game-section {
    padding: 60px 170px;
}

.games {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.game-section button {
    background-color: #FFF;
    margin: 0.6rem;
    border-radius: 2rem;
    border: 1px solid #FFF;
    color: #0B0223;
    font-weight: 600;
}

.game-section button:hover {
    border: 1px solid #FF42A5;
    color: #FF42A5;
    background-color: #FFF;

}

.games-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games-row-2 {
    padding: 0px 200px;
}

/* footer */
footer {
    background: #0B0223;
    color: #FFF;
    padding: 60px 0px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
    font-size: 2.8rem;
    color: #FFF;
    font-weight: 700;
    margin: 1.3rem;
}

.footer-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 30px 30px;
}

.social-media {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;

}

.footer-policy {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

@media screen and (max-width: 576px) {
    nav {
        display: flex;
        flex-direction: column;
        padding: 1em 1em;
    }
    .head-title{
        font-size: 1.5em;
    }
    .nav-items>ul {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }
    .banner-section {
        flex-direction: column-reverse;
        padding: 0px 20px;
    }
    .banner-column-2 img{
        width: 100%;
        padding: 0px 50px;
    }
    .banner-column-1{
        margin-top: 2em;
    }
    .column-1-title, .goat{
        font-size: 3em;
    }
    /* gamer section responsive */
    .gamer{
        flex-direction: column;
        padding: 0px 20px;
    }
    .gamer img{
        width: 100%;
    }
    /* onile game responsove */
    .online-games{
        padding: 0px 20px;
        margin-top: 30px;
    }
    .cards{
        flex-direction: column;
    }
    /* magazine 1  */
    .magazine-1{
        flex-direction: column;
        padding: 0px 20px;
    }
    .magazine-title {
        text-align: center;
        font-size: 2.5em;
    }
    .title-black {
        color: #0B0223;
        font-size: 2em;
        text-align: center;
    }
    .magazine1-writings p {
        text-align: center;
        font-size: .8em;
    }
    .magazine1-writings {
        padding-bottom: 20px;
        margin-left: 0px;
    }
    .magazine1-image img{
        width: 90%;
        padding: 0px 20px;
    }
    .small-img1 {
        position: relative;
        bottom: 100px;
        left: -40px;
        width: 50%;
    }
    .magazine-2{
        display: none;
    }
    .career{
        display: none;
    }
    .games-row{
        display: none;
    }
}